@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    :root {
        --size: clamp(10rem, 1rem + 40vmin, 220px);
        --gap: calc(var(--size) / 7.33333);
        --duration: 60s;
        --scroll-start: 0;
        --scroll-end: calc(-100% - var(--gap));
      }

    .marquee {
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: var(--gap);
    }
    
    .marquee__group {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 100%;
        animation: scroll-x var(--duration) linear infinite;
    }
    
    @media (prefers-reduced-motion: reduce) {
        .marquee__group {
            animation-play-state: paused;
        }
    }
    
    .marquee--vertical {
        --mask-direction: to bottom;
    }
    
    .marquee--vertical,
    .marquee--vertical .marquee__group {
        flex-direction: column;
    }
    
    .marquee--vertical .marquee__group {
        animation-name: scroll-y;
    }
    
    .marquee--reverse .marquee__group {
        animation-direction: reverse;
        animation-delay: -3s;
    }
    
    @keyframes scroll-x {
        from {
            transform: translateX(var(--scroll-start));
        }
    
        to {
            transform: translateX(var(--scroll-end));
        }
    }
    
    @keyframes scroll-y {
        from {
            transform: translateY(var(--scroll-start));
        }
    
        to {
            transform: translateY(var(--scroll-end));
        }
    }

    .marquee-wrapper:hover .marquee__group {
        animation-play-state: paused !important;
    }

    /* Element styles */
    .marquee .marquee__group > div {
        display: grid;
        width: var(--size);
        height: 130px;
        background: var(--sledge-color-grey-4);
        aspect-ratio: 16/9;
        padding: calc(var(--size) / 10);
        border-radius: 0.5rem;
        position: relative;
    }

    .marquee img {
        place-items: center;
        aspect-ratio: 16/9;
        height: fit-content;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    .marquee--vertical img {
        aspect-ratio: 1;
        width: calc(var(--size) / 1.5);
        padding: calc(var(--size) / 6);
    }

    /* Parent wrapper */
    .marquee-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        margin: auto;
        max-width: 100vw;
      }

      .box-shadow-none {
        box-shadow: none !important;
      }
}
  

@layer base {

    :root {
        --sledge-color-primary-black: #000000;

        --sledge-color-primary-red-1: #f85538;
        --sledge-color-primary-red-2: #f04438;
        --sledge-color-primary-red-3: #f97066;
        --sledge-color-primary-red-4: #d72c0d;
        --sledge-color-primary-red-5: #d72c0d1a;

        --sledge-color-primary-green-1: #007656;
        --sledge-color-primary-green-2: #23bc45;
        --sledge-color-primary-green-3: #11493a;
        --sledge-color-primary-green-4: #a4ffa3;
        --sledge-color-primary-green-5: #0A4737;

        --sledge-color-text-hover: #23bc45;

        --sledge-color-grey-1: #f3f3f3;
        --sledge-color-grey-2: #eeedef;
        --sledge-color-grey-3: #f3f4f6;
        --sledge-color-grey-4: #f2f3f7;
        --sledge-color-grey-5: #b7b7b7;
        --sledge-color-grey-6: #f3f3f5;
        --sledge-color-grey-7: #d1d5db;
        --sledge-color-grey-8: #4e4e4e;
        --sledge-color-grey-9: #e6e6e6;

        --sledge-color-yellow-1: #fefcea;
        --sledge-color-yellow-2: #f3ce49;
        --sledge-color-yellow-3: #986523;

        --sledge-color-text-primary: #393d4e;

        --sledge-color-text-secondary-1: #677487;
        --sledge-color-text-secondary-2: #9c9c9c;
        --sledge-color-text-secondary-3: #929292;
        --sledge-color-text-secondary-4: #8e8e8e;
        --sledge-color-text-secondary-5: #767676;
        --sledge-color-text-secondary-6: #6a6a6a;
        --sledge-color-text-secondary-7: #77757e;
        --sledge-color-text-secondary-8: #4b4b4b;
    }

    h1,h2,h3,h4,h5,h6 {
        @apply font-bold;
        @apply font-sledge-font-family-2;
    }

    a {@apply text-black;}


    h1 {@apply text-[38px];}
    h2 {@apply text-[30px];}
    h3 {@apply text-[28px];}
    h4 {@apply text-[24px];}
    h5 {@apply text-[18px];}
    h6 {@apply text-[18px];}


    @screen md {
        h1 {@apply text-[48px];}
        h2 {@apply text-[40px];}
        h3 {@apply text-[32px];}
        h4 {@apply text-[24px];}
        h5 {@apply text-[18px];}
        h6 {@apply text-[18px];}
    }


    /* Font Face: Inter */
    @font-face {
        font-family: inter;
        font-display: swap;
        font-weight: 400;
        src: url('../components/Sledge/Fonts/Inter/Inter-Regular.ttf');
    }

    @font-face {
        font-family: inter;
        font-display: swap;
        font-weight: 700;
        src: url('../components/Sledge/Fonts/Inter/Inter-Bold.ttf');
    }

    @font-face {
        font-family: inter;
        font-display: swap;
        font-weight: 500;
        src: url('../components/Sledge/Fonts/Inter/Inter-Medium.ttf');
    }

    @font-face {
        font-family: inter;
        font-display: swap;
        font-weight: 700;
        src: url('../components/Sledge/Fonts/Inter/Inter-Bold.ttf');
    }

    /* End Font Face: Inter */

    /* Font Face: Cabinet Grotesk Variable */
    @font-face {
        font-family: 'Cabinet Grotesk Variable';
        src: url("../components/Sledge/Fonts/Cabinet-Grotesk-Variable/CabinetGrotesk-Variable.woff2") format('woff2'),
            url("../components/Sledge/Fonts/Cabinet-Grotesk-Variable/CabinetGrotesk-Variable.woff") format('woff'),
            url("../components/Sledge/Fonts/Cabinet-Grotesk-Variable/CabinetGrotesk-Variable.ttf") format('truetype');
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
    }

    /* End Font Face: Cabinet Grotesk Variable */

    /* Font Face: Satoshi */
    @font-face {
        font-family: 'Satoshi';
        src: url("../components/Sledge/Fonts/Satoshi/Satoshi-Variable.woff2") format('woff2'), url("../components/Sledge/Fonts/Satoshi/Satoshi-Variable.woff") format('woff'),
            url("../components/Sledge/Fonts/Satoshi/Satoshi-Variable.ttf") format('truetype');
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Satoshi';
        src: url("../components/Sledge/Fonts/Satoshi/Satoshi-VariableItalic.woff2") format('woff2'), url("../components/Sledge/Fonts/Satoshi/Satoshi-VariableItalic.woff") format('woff'),
            url("../components/Sledge/Fonts/Satoshi/Satoshi-VariableItalic.ttf") format('truetype');
        font-weight: 300 900;
        font-display: swap;
        font-style: italic;
    }

    /* End Font Face: Satoshi */

    /* Font Face: Poppins */
    @font-face {
        font-family: 'Poppins';
        font-weight: 200;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-Thin.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 200;
        font-style: italic;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-ThinItalic.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 300;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-Light.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 300;
        font-style: italic;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-LightItalic.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 400;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-Regular.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 400;
        font-style: italic;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-Italic.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 500;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-Medium.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 500;
        font-style: italic;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-MediumItalic.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 600;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-SemiBold.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 600;
        font-style: italic;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-SemiBoldItalic.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 700;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-Bold.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 700;
        font-style: italic;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-BoldItalic.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 800;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-ExtraBold.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 800;
        font-style: italic;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 900;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-Black.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-weight: 900;
        font-style: italic;
        src: url("../components/Sledge/Fonts/Poppins/Poppins-BlackItalic.ttf") format('truetype');
    }

    /* End Font Face: Poppins */
}